{% extends "base.html" %}
{% block content %}
<h1>Hi!</h1>

{# This is the Jinja Comment block
{% for user in users %}
 {% if user == "Angel" %}
<div><p>{{user}}</b></p></div>
 {% else %}
<div><p>User Name: {{user.uname}} First Name: {{user.fname}}</b></p></div> 
 {% endif %}
{% endfor %}
#}

 <div>
 <p>here is the list of names</p>
 <form >
   <select>
   {% for user in users %}
     <option value="{{user._id}}">{{user.uname}} | {{user.fname}} {{user.lname}}</option>
   {% endfor %}  
   </select>
 </div>
{% endblock %}
